spring:
  datasource:
    url: jdbc:h2:~/test;MODE=MYSQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;
    username: sa
  jpa:
    hibernate:
      ddl-auto: create-drop
    open-in-view: false
    properties:
      hibernate:
        create_empty_composites:
          enabled: true
        format_sql: true
        default_batch_fetch_size: 100
  task:
    execution:
      pool:
        core-size: 2
        max-size: 10
        queue-capacity: 20
  h2:
    console:
      enabled: true
      settings:
        web-allow-others: true
